*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
/dist/
/public/
*.d.ts
docs
test/*
build/*
.husky
.local
bin
Dockerfile



packages/interface/
packages/gamefipc/babel.config.js
packages/gamefipc/public/

